<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jm.rack.mapper.RackInfoMapper">

    <resultMap id="BaseResultMap" type="com.jm.rack.pojo.RackInfo">
        <id property="infoId" column="info_id" jdbcType="BIGINT"/>
        <result property="infoName" column="info_name" jdbcType="VARCHAR"/>
        <result property="currow" column="currow" jdbcType="INTEGER"/>
        <result property="columns" column="columns" jdbcType="INTEGER"/>
        <result property="createtime" column="createtime" jdbcType="TIMESTAMP"/>
        <result property="updatetime" column="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        info_id,info_name,currow,
        columns,createtime,updatetime
    </sql>
</mapper>
